.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.game h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #333;
}


.game-info {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #000;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.square:hover {
    background-color: #f0f0f0;
}

.winning {
    background-color: rgb(17, 238, 76) !important;
    color: red;
}

.square-box {
    display: flex;
    flex-wrap: wrap;
    width: 306px;
}

.square:nth-child(odd) {
    background-color: #eee;
}

.square:nth-child(even) {
    background-color: #ddd;
}
