* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.element_container {
    width: clamp(100px, 75%, 200px);
    height: 70vh;
    border: 1px solid black;
    
}

p{
    background-color: rgb(157, 228, 228) !important;
    height:70px ;
    /* overflow: scroll; */
    padding: 10px;
}
.element1::first-line {
    color:yellow;
    font-variant: small-caps;
}
.element2::first-letter {
    color:#62d49f;
    font-size: x-large;
}
.element3::before {
 font-size: 50px ;
}
.element4::after {
 font-size: 50px ;
}
.element5::marker {
    color:aqua;
    font-size: 50px;
}
.element6::selection {
    color: rgb(143, 201, 135);
    background: yellow;
}
